.credit {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: start;
    color: green;
    cursor: pointer;
}

.debit{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: start;
    color: red;
    cursor: pointer;
}

.info_off{
    display:none
}

.info_on{
    display:inline;
}
